/* Estilo General del Header */
header {
    font-family: Arial, sans-serif;
}

.navbar-toggler {
    outline: none;
}

.navbar-brand {
    font-size: 1.8rem;
    font-family: "Georgia", serif;
    letter-spacing: 1px;
}

.bg-light nav a {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.bg-light nav a:hover {
    text-decoration: underline;
}

/* Botón Reservar */
.btn-outline-dark {
    font-size: 0.9rem;
    font-weight: bold;
    border-width: 2px;
    transition: all 0.3s ease-in-out;
}

.btn-outline-dark:hover {
    background-color: #333;
    color: #fff;
}

/*Estilos del carrusel de imagenes*/

/* Contenedor del carrusel */
.carousel {
    position: relative;
    max-height: 600px; 
    overflow: hidden;
}

/* Contenedor para los botones en la esquina inferior derecha */
.custom-carousel-buttons {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    z-index: 10; 
}

/* Estilo para los botones */
.custom-carousel-btn {
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-carousel-btn:hover {
    background-color: rgba(
        255,
        255,
        255,
        0.9
    );
}

/* Iconos de las flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); 
    width: 20px;
    height: 20px;
}

footer {
    position: relative;
    z-index: 1; 
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
